<p> My child has Band/Orchestra for S1: <input type="checkbox" [(ngModel)]="s1" /> </p>
<p> My child has Band/Orchestra for S2: <input type="checkbox" [(ngModel)]="s2" /> </p>


<table id="data">
  <thead>
    <tr>
      <th>Term</th>
      <th>Course #</th>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19-20</td>
      <td>Not Used</td>
      <td><input #core_1_name (keyup)="0"></td>
      <td><input #core_1_teacher (keyup)="0"></td>
      <td><input #core_1_room (keyup)="0"></td>
      <td>Student to find out first week</td>
    </tr>
    <tr>
      <td>19-20</td>
      <td>Not Used</td>
      <td><input #core_2_name (keyup)="0"></td>
      <td><input #core_2_teacher (keyup)="0"></td>
      <td><input #core_2_room (keyup)="0"></td>
      <td>Student to find out first week</td>
    </tr>
    <tr>
      <td>Q1</td>
      <td>Not Used</td>
      <td><input #quarter_1_5_name (keyup)="0"></td>
      <td><input #quarter_1_5_teacher (keyup)="0"></td>
      <td><input #quarter_1_5_room (keyup)="0"></td>
      <td>5(MW-F)</td>
    </tr>
    <tr>
      <td>Q2</td>
      <td>Not Used</td>
      <td><input #quarter_2_5_name (keyup)="0"></td>
      <td><input #quarter_2_5_teacher (keyup)="0"></td>
      <td><input #quarter_2_5_room (keyup)="0"></td>
      <td>5(MW-F)</td>
    </tr>
    <tr>
      <td>Q3</td>
      <td>Not Used</td>
      <td><input #quarter_3_5_name (keyup)="0"></td>
      <td><input #quarter_3_5_teacher (keyup)="0"></td>
      <td><input #quarter_3_5_room (keyup)="0"></td>
      <td>5(MW-F)</td>
    </tr>
    <tr>
      <td>Q4</td>
      <td>Not Used</td>
      <td><input #quarter_4_5_name (keyup)="0"></td>
      <td><input #quarter_4_5_teacher (keyup)="0"></td>
      <td><input #quarter_4_5_room (keyup)="0"></td>
      <td>5(MW-F)</td>
    </tr>
    <tr [hidden]="!s1">
      <td>S1</td>
      <td>Not Used</td>
      <td><input #semester_1_name (keyup)="0"></td>
      <td><input #semester_1_teacher (keyup)="0"></td>
      <td><input #semester_1_room (keyup)="0"></td>
      <td>6(MW-F)</td>
    </tr>
    <tr [hidden]="s1">
      <td>Q1</td>
      <td>Not Used</td>
      <td><input #quarter_1_6_name (keyup)="0"></td>
      <td><input #quarter_1_6_teacher (keyup)="0"></td>
      <td><input #quarter_1_6_room (keyup)="0"></td>
      <td>6(MW-F)</td>
    </tr>
    <tr [hidden]="s1">
      <td>Q2</td>
      <td>Not Used</td>
      <td><input #quarter_2_6_name (keyup)="0"></td>
      <td><input #quarter_2_6_teacher (keyup)="0"></td>
      <td><input #quarter_2_6_room (keyup)="0"></td>
      <td>6(MW-F)</td>
    </tr>
     <tr>
      <td>Q3</td>
      <td>Not Used</td>
      <td><input #quarter_3_6_name (keyup)="0"></td>
      <td><input #quarter_3_6_teacher (keyup)="0"></td>
      <td><input #quarter_3_6_room (keyup)="0"></td>
      <td>6(MW-F)</td>
    </tr>
    <tr>
      <td>Q4</td>
      <td>Not Used</td>
      <td><input #quarter_4_6_name (keyup)="0"></td>
      <td><input #quarter_4_6_teacher (keyup)="0"></td>
      <td><input #quarter_4_6_room (keyup)="0"></td>
      <td>6(MW-F)</td>
    </tr>
    <tr>
      <td>Q1</td>
      <td>Not Used</td>
      <td><input #quarter_1_7_name (keyup)="0"></td>
      <td><input #quarter_1_7_teacher (keyup)="0"></td>
      <td><input #quarter_1_7_room (keyup)="0"></td>
      <td>7(MW-F)</td>
    </tr>
    <tr>
      <td>Q2</td>
      <td>Not Used</td>
      <td><input #quarter_2_7_name (keyup)="0"></td>
      <td><input #quarter_2_7_teacher (keyup)="0"></td>
      <td><input #quarter_2_7_room (keyup)="0"></td>
      <td>7(MW-F)</td>
    </tr>
    <tr [hidden]="!s2">
      <td>S2</td>
      <td>Not Used</td>
      <td><input #semester_2_name (keyup)="0"></td>
      <td><input #semester_2_teacher (keyup)="0"></td>
      <td><input #semester_2_room (keyup)="0"></td>
      <td>7(MW-F)</td>
    </tr>
    <tr [hidden]="s2">
      <td>Q3</td>
      <td>Not Used</td>
      <td><input #quarter_3_7_name (keyup)="0"></td>
      <td><input #quarter_3_7_teacher (keyup)="0"></td>
      <td><input #quarter_3_7_room (keyup)="0"></td>
      <td>7(MW-F)</td>
    </tr>
    <tr [hidden]="s2">
      <td>Q4</td>
      <td>Not Used</td>
      <td><input #quarter_4_7_name (keyup)="0"></td>
      <td><input #quarter_4_7_teacher (keyup)="0"></td>
      <td><input #quarter_4_7_room (keyup)="0"></td>
      <td>7(MW-F)</td>
    </tr>
    <tr>
      <td>19-20</td>
      <td>Not Used</td>
      <td><input #core_3_name (keyup)="0"></td>
      <td><input #core_3_teacher (keyup)="0"></td>
      <td><input #core_3_room (keyup)="0"></td>
      <td>Student to find out first week</td>
    </tr>
    <tr>
      <td>19-20</td>
      <td>Not Used</td>
      <td><input #core_4_name (keyup)="0"></td>
      <td><input #core_4_teacher (keyup)="0"></td>
      <td><input #core_4_room (keyup)="0"></td>
      <td>Student to find out first week</td>
    </tr>
  </tbody>  
</table>

<hr>

<table class="schedule" id="first-quarter">
  <caption>First Quarter</caption>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Period</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><p>{{core_1_name.value}}</p></td>
      <td><p>{{core_1_teacher.value}}</p></td>
      <td><p>{{core_1_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_2_name.value}}</p></td>
      <td><p>{{core_2_teacher.value}}</p></td>
      <td><p>{{core_2_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_3_name.value}}</p></td>
      <td><p>{{core_3_teacher.value}}</p></td>
      <td><p>{{core_3_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_4_name.value}}</p></td>
      <td><p>{{core_4_teacher.value}}</p></td>
      <td><p>{{core_4_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{quarter_1_5_name.value}}</p></td>
      <td><p>{{quarter_1_5_teacher.value}}</p></td>
      <td><p>{{quarter_1_5_room.value}}</p></td>
      <td>Period 5</td>
    </tr>
    <tr [hidden]="!s1">
      <td><p>{{semester_1_name.value}}</p></td>
      <td><p>{{semester_1_teacher.value}}</p></td>
      <td><p>{{semester_1_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr [hidden]="s1">
      <td><p>{{quarter_1_6_name.value}}</p></td>
      <td><p>{{quarter_1_6_teacher.value}}</p></td>
      <td><p>{{quarter_1_6_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr>
      <td><p>{{quarter_1_7_name.value}}</p></td>
      <td><p>{{quarter_1_7_teacher.value}}</p></td>
      <td><p>{{quarter_1_7_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
  </tbody>
</table>

<hr>

<table class="schedule" id="second-quarter">
  <caption>Second Quarter</caption>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Period</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><p>{{core_1_name.value}}</p></td>
      <td><p>{{core_1_teacher.value}}</p></td>
      <td><p>{{core_1_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_2_name.value}}</p></td>
      <td><p>{{core_2_teacher.value}}</p></td>
      <td><p>{{core_2_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_3_name.value}}</p></td>
      <td><p>{{core_3_teacher.value}}</p></td>
      <td><p>{{core_3_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_4_name.value}}</p></td>
      <td><p>{{core_4_teacher.value}}</p></td>
      <td><p>{{core_4_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{quarter_2_5_name.value}}</p></td>
      <td><p>{{quarter_2_5_teacher.value}}</p></td>
      <td><p>{{quarter_2_5_room.value}}</p></td>
      <td>Period 5</td>
    </tr>
    <tr [hidden]="!s1">
      <td><p>{{semester_1_name.value}}</p></td>
      <td><p>{{semester_1_teacher.value}}</p></td>
      <td><p>{{semester_1_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr [hidden]="s1">
      <td><p>{{quarter_2_6_name.value}}</p></td>
      <td><p>{{quarter_2_6_teacher.value}}</p></td>
      <td><p>{{quarter_2_6_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr>
      <td><p>{{quarter_2_7_name.value}}</p></td>
      <td><p>{{quarter_2_7_teacher.value}}</p></td>
      <td><p>{{quarter_2_7_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
  </tbody>
</table>

<hr>

<table class="schedule" id="third-quarter">
  <caption>Third Quarter</caption>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Period</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><p>{{core_1_name.value}}</p></td>
      <td><p>{{core_1_teacher.value}}</p></td>
      <td><p>{{core_1_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_2_name.value}}</p></td>
      <td><p>{{core_2_teacher.value}}</p></td>
      <td><p>{{core_2_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_3_name.value}}</p></td>
      <td><p>{{core_3_teacher.value}}</p></td>
      <td><p>{{core_3_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_4_name.value}}</p></td>
      <td><p>{{core_4_teacher.value}}</p></td>
      <td><p>{{core_4_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{quarter_3_5_name.value}}</p></td>
      <td><p>{{quarter_3_5_teacher.value}}</p></td>
      <td><p>{{quarter_3_5_room.value}}</p></td>
      <td>Period 5</td>
    </tr>
    <tr>
      <td><p>{{quarter_3_6_name.value}}</p></td>
      <td><p>{{quarter_3_6_teacher.value}}</p></td>
      <td><p>{{quarter_3_6_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr [hidden]="!s2">
      <td><p>{{semester_2_name.value}}</p></td>
      <td><p>{{semester_2_teacher.value}}</p></td>
      <td><p>{{semester_2_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
     <tr [hidden]="s2">
      <td><p>{{quarter_3_7_name.value}}</p></td>
      <td><p>{{quarter_3_7_teacher.value}}</p></td>
      <td><p>{{quarter_3_7_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
  </tbody>
</table>

<hr>

<table class="schedule" id="fourth-quarter">
  <caption>Fourth Quarter</caption>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Room</th>
      <th>Period</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><p>{{core_1_name.value}}</p></td>
      <td><p>{{core_1_teacher.value}}</p></td>
      <td><p>{{core_1_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_2_name.value}}</p></td>
      <td><p>{{core_2_teacher.value}}</p></td>
      <td><p>{{core_2_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_3_name.value}}</p></td>
      <td><p>{{core_3_teacher.value}}</p></td>
      <td><p>{{core_3_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{core_4_name.value}}</p></td>
      <td><p>{{core_4_teacher.value}}</p></td>
      <td><p>{{core_4_room.value}}</p></td>
      <td>Student to find out first days of school</td>
    </tr>
    <tr>
      <td><p>{{quarter_4_5_name.value}}</p></td>
      <td><p>{{quarter_4_5_teacher.value}}</p></td>
      <td><p>{{quarter_4_5_room.value}}</p></td>
      <td>Period 5</td>
    </tr>
    <tr>
      <td><p>{{quarter_4_6_name.value}}</p></td>
      <td><p>{{quarter_4_6_teacher.value}}</p></td>
      <td><p>{{quarter_4_6_room.value}}</p></td>
      <td>Period 6</td>
    </tr>
    <tr [hidden]="!s2">
      <td><p>{{semester_2_name.value}}</p></td>
      <td><p>{{semester_2_teacher.value}}</p></td>
      <td><p>{{semester_2_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
     <tr [hidden]="s2">
      <td><p>{{quarter_4_7_name.value}}</p></td>
      <td><p>{{quarter_4_7_teacher.value}}</p></td>
      <td><p>{{quarter_4_7_room.value}}</p></td>
      <td>Period 7</td>
    </tr>
  </tbody>
</table>
